html, body, #app,
#app>.row:first-child,
#app>.row:first-child .col-5 .row,
#app>.row:first-child .col-5 .row .col-6 {
	height: 100%;
}
#app {
	overflow: hidden;
}
#app .row:first-child .col-6,
#app .row:first-child .col-7 {
	overflow-y: scroll;
  background-color:#fcfcfc;
}
#app .btn-light {
	border-color: #dfe5ea;
}
#app .btn-light:active {
	border-color: #dae0e5;
}
#app .list-group-item.list-group-item-info pre {
	margin-bottom: 0;
  color: #0c5460;
  padding-left: 1.5rem;
}
#app .list-group-item.list-group-item-danger pre {
	margin-bottom: 0;
  color: #721c24;
}
#app .col-7 .list-group-item.list-group-item-light {
    background-color: #fbfbfb;
}
#app .col-7 .list-group-item.list-group-item-light:first-child {
    border-bottom: 1px solid #bbb;
    box-shadow: inset 0 -2px 2px #eee;
    z-index: 1;
}
#app .col-7 .list-group-item.list-group-item-light:last-child {
    border-top: 1px solid #bbb;
    box-shadow: inset 0 2px 2px #eee;
    z-index: 1;
}
.loader,
.loader:after {
  border-radius: 50%;
  width: 18px;
  height: 18px;
  overflow: hidden;
}
.loader {
  display: inline-block;
  position: relative;
  top: 3px;
  margin-right: 4px;
  font-size: 10px;
  text-indent: -9999em;
  border-top: 4px solid rgba(55, 55, 55, 0.3);
  border-right: 4px solid rgba(55, 55, 55, 0.3);
  border-bottom: 4px solid transparent;
  border-left: 4px solid transparent;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
