<!doctype html>
<html>
	<head>
		<meta charset="UTF-8" />
		<title>任务监控</title>
		<link rel="stylesheet" href="index.css">
		<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
		<script src="https://cdn.bootcss.com/vue/2.4.2/vue.min.js"></script>
		<script src="https://cdn.bootcss.com/velocity/1.5.0/velocity.min.js"></script>
	</head>
	<body>
		<div class="container-fluid" id="app">
			<div class="row">
				<div class="col-5">
					<div class="row">
						<div class="col-6">
							<form class="mt-2" v-on:submit.prevent="filterTask">
								<div class="form-group input-group">
									<span class="input-group-addon">🖨️ 定义</span>
									<input type="text" class="form-control" placeholder="过滤" aria-label="task filter" v-model="taskFilter">
									<span class="input-group-btn">
										<button class="btn btn-light">🔍</button>
									</span>
								</div>
							</form>
							<ul class="list-group mt-2">
								<li class="list-group-item list-group-item-danger" v-cloak v-if="taskStat == -1">
									❌ 看啥看，服务都完蛋了，能加载出来才诡异！
								</li>
								<a v-for="task in tasks" v-show="!task.hide" href="#"
									class="list-group-item list-group-item-action"
									v-bind:class="{active: task.file == taskName}"
									v-on:click.prevent="setTask(task)">{{task.file}}</a>
							</ul>
						</div>
						<div class="col-6">
							<form class="mt-2" v-on:submit.prevent="filterData">
								<div class="form-group input-group">
									<span class="input-group-addon">🖨️ 数据</span>
									<input type="text" class="form-control" placeholder="过滤" aria-label="data filter" v-model="dataFilter">
									<span class="input-group-btn">
										<button class="btn btn-light">🔍</button>
									</span>
								</div>
							</form>
							<ul class="list-group mt-2">
								<a href="#"
									class="list-group-item list-group-item-action"
									v-bind:class="{active: '' == taskData}"
									v-on:click.prevent="setData({file: '', hide: false})">/empty.js <span class="float-right text-secondary">(空数据)</span></a>
								<a v-for="data in datas" v-show="!data.hide" href="#"
									class="list-group-item list-group-item-action"
									v-bind:class="{active: data.file == taskData}"
									v-on:click.prevent="setData(data)">{{data.file}}</a>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-7" ref="progress">
					<form class="mt-2" v-on:submit.prevent="">
						<div class="input-group">
							<span class="input-group-addon">🛠️ 参数</span>
							<input type="text" class="form-control" v-bind:value="taskArgv" v-on:change="setArgv($event.target.value)" />
							<span class="input-group-btn">
								<button v-on:click="startTask" type="button" class="btn btn-info" v-bind="{disabled: taskStat > 0 || !taskName}">
									▶️ 启动
								</button>
							</span>
							<span class="input-group-btn">
								<button v-on:click="killTask" type="button" class="btn btn-info" v-bind="{disabled: taskStat < 2}" v-on:click="killTask">
									🛑 终止
								</button>
							</span>
						</div>
					</form>
					<div class="mt-2 mb-4" v-cloak>
						<!-- <task-poll-list ref="taskPoll"></task-poll-list> -->
						<task-poll-stat ref="taskPoll"></task-poll-stat>
					</div>
				</div>
			</div>
		</div>
		<script src="task-poll-list.js"></script>
		<script src="task-poll-stat.js"></script>
		<script src="index.js"></script>
	</body>
</html>
